/* About.css */
.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
.about {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: justify;
  }
  